@import "../ui-components/config";

.tx-chat-view {
    height: 100vh;
    background-image: url("../assets/body-bg.png");
    background-size: cover;
    overflow-y: auto;
    padding-top: 24px;
    padding-bottom: 64px;
    background-attachment: fixed;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
