$container-width: 640px;

$colors: (
    white: #fff,
    dark-blue: #2E77A4,
    blue: #3798D4,
    grey: #B8C0C7,
    dark-grey: #4D555D,
    red: #FF876D,
);

$spacing: (
    spacing-0: 0,
    spacing-4: 4px,
    spacing-8: 8px,
    spacing-16: 16px,
    spacing-24: 24px,
    spacing-48: 48px,
);

$font-sizes: (
    font-size-20: 20px,
    font-size-24: 24px,
);
