@import "./config";

.tx-u-margin--right-8 {
    margin-right: map-get($spacing, spacing-8);
}
.tx-u-flex {
    display: flex;
}

.tx-u-flex--grow-1 {
    flex-grow: 1;
}

.tx-u-flex--direction-column {
    flex-direction: column;
}

@each $justify in (flex-start, flex-end, center, space-between, space-around, space-evenly) {
    // Property: justify-content
    // .tx-u-flex--justify-{*}
    .tx-u-flex--justify-#{$justify} {
        justify-content: $justify;
    }
}

@each $align in (stretch, flex-start, flex-end, center, baseline, auto) {
    // Property: align-items
    // .tx-u-flex--align-{*}
    .tx-u-flex--align-#{$align} {
        align-items: $align;
    }
}

.tx-u-full-height {
    height: 100%;
}
