@import "../config";

.tx-c-input-button-container {
    width: 100%;
    background-color: map-get($colors, blue);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: map-get($spacing, spacing-8) 0;
}
